#Fichiers CSV
*.csv*
#Fichiers non tracés
back/restapi/.*
back/restapi/target
local

#configuration spécifique à chacun
back/restapi/profiles
infotaf-front/profiles
infotaf-front/.scannerwork
.scannerwork
npm-debug.log
sonar-project.properties
