#Fichiers CSV
*.csv*
#Fichiers non tracés
front/src/jquery-1.7.2.min.js
front/src/bootstrap.min.js
front/src/bootstrap.min.css
back/restapi/.*
back/restapi/target
local

#configuration spécifique à chacun
back/restapi/profiles
front/profiles
